{% extends 'base.html' %}
{%load static%}
{% block body %}
<div class="container mt-4">
          <div class="row">
           <div class="col-md-10">
                    <h3><b>My Expenses</b></h3>
           </div>
           <div class="col-md-2">
                     <a href="addExpense" class="btn btn-primary">Add Expense</a>
           </div>
          </div>          
 </div>
<div class="row pt-4">
  <div class="col-md-8">
    <a href="{%url 'exportCSV' %}" class="btn btn-secondary">Export to CSV</a>
    <a href="{%url 'exportExcel' %}" class="btn btn-primary">Export to Excel</a>
    <a href="{%url 'exportPdf' %}" class="btn btn-primary">Export to Pdf</a>


  </div>
  <div class="col-md-4">
    <div class="form-group">
      <input type="text" class="form-control" id="searchInput" placeholder="Search">
  </div>
</div>
 <div class="row pt-4">
          
              <div class="app-table">
                <table class="table table-hover ">
                  <thead>
                    <tr>
                      <th scope="col">Amount({{currency}})</th>
                      <th scope="col">Date</th>
                      <th scope="col">Category</th>
                      <th scope="col">Description</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%for expense in page_obj%}
                    <tr>
                      <td>{{expense.amount}}</td>
                      <td>{{expense.date}}</td>
                      <td>{{expense.category}}</td>
                      <td>{{expense.description}}</td>
                      <td><a href="{% url 'editExpense' expense.id %}" class="btn btn-secondary">Edit</a>
                        <a href="{% url 'deleteExpense' expense.id %}" class="btn btn-danger">Delete</a>
                      </td>
                    </tr>
                    {%endfor%}
                    
                  </tbody>
                </table>
              </div>

                  <div class="table-output">
                    <table class="table table-hover ">
                      <thead>
                        <tr>
                          <th scope="col">Amount({{currency}})</th>
                          <th scope="col">Date</th>
                          <th scope="col">Category</th>
                          <th scope="col">Description</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody class='table-body'>
            
                      </tbody>
                    </table>
                  </div>


                  <div class="container mt-4">
                    <div class="pagination-container">
                    <div class="row">
                     <div class="col-md-9">
                      Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}

                     </div>
                     <div class="col-md-3">
                      <ul class="pagination align-right float-right mr-auto">
                        {% if page_obj.has_previous %}
                        <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
                        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% endif %}
                  
                        {% if page_obj.has_next %}
                        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
                        {% endif %}
                        </ul>
                     </div>
                    </div>  
                  </div>        
           </div>
 </div>
<script src="{%static 'js/searchExpenses.js' %}">

</script>
{% endblock body %}


