{% extends 'base.html' %}
{% load static %}
{% block body %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>

<div class="row">
          <div class="col-9 " style="font-weight:bold; font-size:30px">
            Expense Calendar
          </div>
          <div class="col-3 text-right mb-3">
            <button type="button" id="incomes"  class="btn btn-warning">Incomes</button>
            <button type="button" id="expenses" class="btn btn-warning">Expenses</button>
          </div>
        </div>
        <div id='calendar'>
    
        </div>
   <script>
          
          document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
              initialView: 'multiMonthYear',
              events: [],
              headerToolbar: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'dayGridMonth,timeGridWeek,timeGridDay'
              },
              dayMaxEvents:2,
              eventClick: function(info) {
                alert('Event: ' + info.event.title);
                
            
                // change the border color just for fun
                info.el.style.borderColor = 'red';
              }
          });
            calendar.render();
         
          const incomeView=document.querySelector('#incomes')
          incomeView.addEventListener('click',function(){
                    calendar.setOption('events', '{% url "incomeCalendarView" %}');
                    calendar.setOption('eventBackgroundColor','#166bf5');
                    calendar.setOption('eventTextColor','#f7f9fc');       
          }); 

          const expenseView=document.querySelector('#expenses')
          expenseView.addEventListener('click',function(){
                    calendar.setOption('events', '{% url "expenseCalendarView" %}');
                    calendar.setOption('eventBackgroundColor','#166bf5');
                    calendar.setOption('eventTextColor','#f7f9fc');

                             
          }); 
          });
      
        </script>
             
{% endblock body %}
